In [35]:
import pandas as pd
import numpy as np

In [49]:
bom_df  = pd.read_csv('./bom.csv')
bom_df.head()

,Production Qty,Product Name,Component Part Number,Component Name,Quantity,Units
0,1,Final Product A,CHM001,Chemical A,1000,Kilograms
1,1,Final Product A,CHM002,Chemical B,500,Kilograms
2,1,Final Product A,CHM003,Chemical C,300,Kilograms
3,1,Final Product A,Intermediate X,Intermediate X,1,Kilograms
4,1,Intermediate X,CHM002,Chemical B,200,Kilograms

In [37]:
demand_df = pd.read_csv('./demand.csv')
demand_df.head()

   Sr. No     Product Name  Demand Quantity
0       1  Final Product A               10
1       2  Final Product B               20

In [39]:
mrp_dict = {}

In [40]:
def calulate_requirement(product_name, qty, bom_df:pd.DataFrame):
    df_tmp = bom_df[bom_df['Product Name']==product_name]
    for i, r in df_tmp.iterrows():
        qty_add = (qty*r['Quantity'])/r['Production Qty']
        bom_qty = mrp_dict.get(r['Component Name'],0)
        mrp_dict[r['Component Name']] = bom_qty+qty_add
        calulate_requirement(r['Component Name'],qty_add,bom_df)

In [41]:
for i,r in demand_df.iterrows():
    calulate_requirement(r['Product Name'],r['Demand Quantity'], bom_df)

In [42]:
mrp_dict

{'Chemical A': 38000.0,
 'Chemical B': 7000.0,
 'Chemical C': 4500.0,
 'Intermediate X': 10.0,
 'Chemical E': 500.0,
 'Raw Material 1': 20000.0,
 'Raw Material 2': 12000.0,
 'Chemical D': 14000.0,
 'Intermediate Y': 20.0,
 'Intermediate Z': 1600.0,
 'Chemical G': 112000.0,
 'Chemical H': 160000.0,
 'Raw Material 4': 40000.0,
 'Raw Material 5': 24000.0}

In [45]:
mrp_df = pd.DataFrame(list(mrp_dict.items()), columns=['Component Name','Quantity'])
mrp_df

    Component Name  Quantity
0       Chemical A   38000.0
1       Chemical B    7000.0
2       Chemical C    4500.0
3   Intermediate X      10.0
4       Chemical E     500.0
5   Raw Material 1   20000.0
6   Raw Material 2   12000.0
7       Chemical D   14000.0
8   Intermediate Y      20.0
9   Intermediate Z    1600.0
10      Chemical G  112000.0
11      Chemical H  160000.0
12  Raw Material 4   40000.0
13  Raw Material 5   24000.0

In [46]:
mrp_df.to_csv('./mrp_result.csv',index=False)